*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
}

.slider{
    position: relative;
    width: 800px;
    height: 600px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
}

.slider img{
    position: absolute;
    height: 75px;
    width: 75px;
    cursor: pointer;
}

#prev{
    left: 5px;
    top: 50%;
    transform: translate(0,-50%);
}
#next{
    right: 5px;
    top: 50%;
    transform: translate(0,-50%);
}